.navbar {
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 10px 5%;
    box-sizing: border-box;
    height: 110px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.nav-logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.nav-logo img {
    height: 70px;
    width: auto;
}

.nav-logo a {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}

.nav-logo strong {
    font-weight: 700;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.nav-spacer {
    display: none;
}

.nav-links li {
    margin: 0 5px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    opacity: 0.65;
    transition: opacity 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
    opacity: 1;
    color: #ffffff;
}
